@charset="utf-8";
//CSS Document


  
 *{
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 }

body{
	width: 100%;
	height: 100%;
	background-image:-webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../pics/woodpainted.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

.container{
	width: 90%;
	height: 100%;
	position: relative; 
	
}

#particles-js{
	width: 100%;
	height: 100%;
	background-size: cover;
	background: rgba(0,0,0,0.3);
	position: fixed;
}

h1{
	color:#a9c41e;
	text-align: center;
	font: 3vw "times New Roman";
	width: 100%;
	position: relative;
	margin: 10px 0px 10px 0px;
	height: 100px;
	 
}
 
fieldset{
	width: 100%;
	position: relative;
}
.form-control{
	width: 48%;	 
	float: left;
	text-align: center;
	position: relative; 
	background: hsla(210, 60%, 70%, 0.2);
}
fieldset < input{
	float: right;
	border-color: green;
}

form{
	width:  100%;

 }
label{
	color: #00fff2;
	font: 1vw "Verdana";

}

hr{
color: #a9c41e;
border: 1px solid;
}

 
#botones > input{
	font-family: "verdana";
	background: hsla(230, 80%, 90%, 0.3);
	color:#84ccc5;
	border: 1px solid orange;
}

 
#botones > input:hover{
	margin: 0px;
	font: 1.2vw "Verdana" bold;
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	color: orange;
}

.table{
	width: 50%;
	float: right;
 	position: relative;
	margin: 0px 5px 10px 5px;
	height: 220px;
}
.cabecera{
	width: 100%;
	height: 60px;
}
.cabecera > h1{

	width: 100%;
	margin: 0px 0px 20px 0px;
	color: #009e73;
	height: 45px;
}

#Mytable{
	width: 100%;
	height: 150px;
	 
}
thead{
	border:none; 
}

#registro{
	width: 100%;
	height: 130px;
	margin: 2px 5px 2px 0px;
	border: 1px solid orange;
	border-radius: 5px;
	text-align: left;
}

tbody{
width: 100%;
color: #66c0b7;
border: 1px solid orange;
border-radius: 3px;
height: auto;
position: relative;
}

th{
	width: 30%;
	height: 20px;
	margin: 0px 20px 0px 0px;
	color: #CC6666; 
}

th:nth-child(even) {
	width: 60%;
	height: 20px;
 
}
table{
	width: 100%;
	border:;
	border-radius: 4px;
}

footer{
	width:100%;
	border: 1px solid orange;
	float: left;
 	position: relative;
	height: 150px;
}